.navbar {
    background-color: blue;
    color: white;
    border: 0px solid;
    margin: 0px;
    padding: 0px;
    font-size: 16pt;
    width: 100%;
    position: sticky;
    display: inline-block;
}

.navlist {
    display: inline;
        list-style-type: none;
}

body{
    margin: 0px;
}

.navbar a{
    color: antiquewhite;
    text-decoration: none;
    padding: 22px 16px;
}

.nav:hover{
    background-color: white;
    color: blue;
}

/*for cards*/
.card {
    border: 1px solid black;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    margin: 10px;
}

p, h1, h4 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.card-text{
    background-color: antiquewhite;
}

.card-bin {
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.card-bin:hover {
    background-color: rgb(176, 207, 234);
    color: antiquewhite;
}

.inline-card {
    display: inline-block;
    margin: auto;
    width: fit-content;
}

.footer{
    background-color: gray;
    color: azure;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.tfooter{
    margin: auto;
    padding: 10px;
}

/*to remove the bullets on the button ot list*/
.lifooter{
    padding: 5px;
    list-style-type: none;
}

.tdfooter {
    padding-right: 100px;
}

.logo {
    width: 50px;
    height: 50px;
}

.afooter {
    color: white;
    text-decoration: none;
}